<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for complain in complains %}
        <div>
            <h3>{{complain.subject}}</h3>
            <p>{{complain.description}}</p>
            <p>{{complain.date}}</p>
            <p>{{complain.address}}</p>
            <form action="/editComplain/{{complain.id}}" method="post">
                {%csrf_token%}
                <div class="form-group">
                    <label for="exampleFormControlSelect2">{{complain.scope}}</label>
                    <select class="form-control" id="exampleFormControlSelect2" name="scope">
                        <option value="Private">Private</option>
                        <option value="Public">Public</option>
                    </select>
                </div>
                <Button type="submit">Save</Button>
            </form>
        </div>
    {%endfor%}
</body>
</html>