<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav class="mt-1 ml-1 mr-1 bg-gray-800 items-center">
       
        <ul class="flex px-4 py-1 space-x-5 justify-end ">
          <div class="text-white mb-3 mt-3 font-bold text-xl mr-auto" href="#" role="button"   aria-haspopup="true" aria-expanded="false">
            Hack36
          </div>
            
        </ul>
</nav>


    <h2 style="text-align: center" class="text-xl font-bold">Login</h2>
    
    <div class="container-fluid my-4 shadow" style="padding: 50px; width: fit-content; border: 1px solid gray">
        <form action="/victimLogin" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label" >Name</label>
                <input type="text" class="form-control" placeholder="type registered name" id="name" name="name" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="*********" id="password" name="password" />
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary hover:bg-sky-600">Submit</button>
        </form>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>