<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome Victim
    <a href="/victimLogout">Logout</a>
    <form action="/victimComplaint/{{victim.id}}" method="post">
        {%csrf_token%}
        <input type="text" name="subject" id="subject" placeholder="Subject of complain">
        <input type="textarea" name="description" id="description" placeholder="Description of complain">
        <input type="date" name="date" id="date">
        <input type="text" name="location" id="location" placeholder="location">
        <input type="text" name="pincode" id="pincode" placeholder="pincode">
        <button type="submit">Submit</button>
    </form>
</body>
</html>